http:
  routers:
    dashboard:
      rule: "Host(`dashboard.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: api@internal
      tls:
        certResolver: letsencrypt
      middlewares:
        - dashboard-auth
    
    whoami:
      rule: "Host(`whoami.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: whoami
      tls:
        certResolver: letsencrypt

  services:
    whoami:
      loadBalancer:
        servers:
          - url: "http://whoami:80"

  middlewares:
    dashboard-auth:
      basicAuth:
        users:
          - "${DASHBOARD_BASIC_AUTH}"
